<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: page_head('Home - Shopme Admin')" />

<body>
<div class="container-fluid">
    <div th:replace="navigation :: nav_menu"></div>

    <div>
        <h2>Shopme Admin Control Panel</h2>
        Welcome
        <a th:href="@{/account}" sec:authentication="principal.fullname"></a>
        <span sec:authentication="principal.authorities"></span>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: poka"></div>

</div>

</body>
</html>