<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>

    <title>Home - Shopme Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/ShopmeAdminSmall.png}"/></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/categories}">Categories</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/brands}">Brands</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/products}">Products</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/customers}">Customers</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/shipping}">Shipping</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/orders}">Orders</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/report}">Sales Report</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/articles}">Articles</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/menus}">Menus</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/settings}">Settings</a></li>
                </ul>
            </div>

        </nav>
    </div>

    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/users/new}">Create New User</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/csv}">Export to CSV</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/excel}">Export to Excel</a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/users/page/1}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>

            <label>
                <input type="search" name="keyword" th:value="${keyword}" class="form-control" style="width: 200px;" required />
            </label>
            &nbsp;&nbsp;
            <input type="submit" value="Search" class="btn btn-primary" />
            &nbsp;&nbsp;
            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
        </form>
    </div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark"> <!--In the lastest version of bootstrap use table-dark instead of thead-dark -->
                <tr>
                    <th th:replace="fragments :: column_link('id', 'User ID')" >
                    <th>Photos</th>
                    <th th:replace="fragments :: column_link('email', 'Email')" >
                    <th th:replace="fragments :: column_link('firstName', 'First Name')" >
                    <th th:replace="fragments :: column_link('lastName', 'Last Name')" >
                    <th>Roles</th>
                    <th th:replace="fragments :: column_link('enabled', 'Enabled')" >

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td>[[${user.id}]]</td>
                    <td>
                        <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="height: 150px" />
                    </td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>

                    <td>
                        <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green" th:href="@{'/users/' + ${user.id} + '/enabled/false/?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&redirPage=' + ${currentPage}}" title = "Disable User"></a>
                        <a th:if="${user.enabled == false}" class="fas fa-solid fa-circle-xmark fa-2x icon-grey" th:href="@{'/users/' + ${user.id} + '/enabled/true/?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&redirPage=' + ${currentPage}}" title = "Enable User"></a>
                    </td>
                    <td>
                        <a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}" title="Edit User"></a>
                        &nbsp;
                        <a class="fas fa-trash fa-2x icon-grey link-delete" th:href="@{'/users/delete/' + ${user.id}}" th:userEmail="${user.email}" title = "Delete User"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing User # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>

    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No User Found</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination flex-wrap justify-content-center">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&laquo;</a></li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&lt;</a></li>

                <!-- List all pages -->
                <!--
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/users/page/' + ${i}}">[[${i}]]</a>
                </li>
                -->

                <!-- List only 5 pages (± 2 pages) -->
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&gt;</a></li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&raquo;</a></li>
            </ul>
        </nav>
    </div>

    <!-- Dialog Box -->
    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <span id="confirmText"></span><br>
                    <span id="confirmEmail"></span><br>
                    <span id="confirmWarning"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            link = $(this);
            // alert($(this).attr("href"));
            userEmail = link.attr("userEmail");
            $("#yesButton").attr("href", link.attr("href"));

            $("#confirmText").text("Are you sure you want to delete this user account?");
            $("#confirmEmail").text(userEmail);
            $("#confirmWarning").text("Please note that the DELETE operation is NOT REVERSIBLE");
            $("#confirmModal").modal('show');
        });
    });

    function clearFilter() {
        window.location = "[[@{/users}]]"
    }
</script>

</body>
</html>