<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Shopme Admin')" />

<body>
<div class="container-fluid">
    <div th:replace="navigation :: nav_menu"></div>

    <!-- Category Exporter -->
    <div>
        <h2>Manage Categories</h2>
        <a th:href="@{/categories/new}" class="fa-solid fa-folder-plus fa-2x icon-grey mr-2" title="Create New Category"></a>
        <a th:href="@{/categories/export/csv}" class="fa-solid fa-file-csv fa-2x icon-grey mr-2" title="Export to CSV"></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <!-- Category Search Box -->
    <div>
        <form th:action="@{/categories/page/1}" class="form-inline m-3">
            <label>
                <input type="search" name="keyword" th:value="${keyword}" class="form-control" style="width: 200px;" required />
            </label>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" title="Search"><i class="fas fa-search"></i></button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" onclick="clearFilter()" title="Clear Filter"><i class="fas fa-eraser"></i></button>
        </form>
    </div>

    <!-- Category Info Table -->
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark"> <!--In the lastest version of bootstrap use table-dark instead of thead-dark -->
                <tr>
                    <th class="hideable-column">ID</th>
                    <th>Image</th>
                    <th>
                        <a class="text-white" th:href="@{'/categories/page/' + ${pageNum} + '?sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Name</a>
                        <span th:class="${reverseSortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                    </th>
                    <th>Alias</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${listCategories}">
                    <td class="hideable-column">[[${category.id}]]</td>
                    <td>
                        <img th:src="@{${category.imagePath}}" style="height: 100px" class="img-fluid"/>
                    </td>
                    <td>[[${category.name}]]</td>
                    <td>[[${category.alias}]]</td>
                    <td>
                        <a th:if="${category.enabled == true}" class="fas fa-check-circle fa-2x icon-green" th:href="@{'/categories/' + ${category.id} + '/enabled/false/'}" title = "Disable Category"></a>
                        <a th:if="${category.enabled == false}" class="fas fa-solid fa-circle-xmark fa-2x icon-grey" th:href="@{'/categories/' + ${category.id} + '/enabled/true/'}" title = "Enable Category"></a>
                    <td>
                        <a class="fas fa-edit fa-2x icon-green" th:href="@{'/categories/edit/' + ${category.id}}" title="Edit Category"></a>
                        &nbsp;
                        <th:block th:if="${category.hasChildren == false}">
                            <a class="fas fa-trash fa-2x icon-grey link-delete" th:href="@{'/categories/delete/' + ${category.id}}" th:entityId="${category.id}" title="Delete Category"></a>
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing categories # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>

    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No category Found</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/categories/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&laquo;</a></li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/categories/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&lt;</a></li>

                <!-- List all pages -->
                <!--
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/users/page/' + ${i}}">[[${i}]]</a>
                </li>
                -->

                <!-- List only max 7 pages (± 3 pages) -->
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" th:href="@{'/categories/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/categories/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&gt;</a></li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/categories/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&raquo;</a></li>
            </ul>
        </nav>
    </div>

    <!-- Dialog Box -->
    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <span id="confirmText"></span><br>
                    <span id="confirmEmail"></span><br>
                    <span id="confirmWarning"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">
    function showDeleteConfirmModal(link, entityName) {
        entityId = link.attr("entityId");

        $("#yesButton").attr("href", link.attr("href"));
        $("#confirmText").text("Are you sure you want to delete this " + entityName + " ID " + entityId + "?")
        $("#confirmWarning").text("Please note that the DELETE operation is NOT REVERSIBLE");
        $("#confirmModal").modal('show');
    }

    function clearFilter() {
        window.location = "[[@{/categories}]]";
    }

    $(document).ready(function() {
       $(".link-delete").on("click", function(e) {
          e.preventDefault();
          showDeleteConfirmModal($(this), 'category');
       });
    });
</script>

</body>
</html>