<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle})" />

<body>
<div class="container-fluid">
    <div th:replace="navigation :: nav_menu"></div>

    <div>
        <h2>Manage Brands | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/brands/save}" method="post" style="max-width: 700px; margin: 0 auto" enctype="multipart/form-data" th:object="${brand}">
        <input type="hidden" th:field="*{id}" />
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Name :</label>
                <div class="col-sm-8">
                    <input  type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="128"/>
                </div>
            </div>

            <!-- Brand Logo -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Logo :</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{logo}" />
                    <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg" required class="mb-2"/>
                    <img id="thumbnail" alt="Image Preview" th:src="@{${brand.logoPath}}" class="img-fluid" style="width: 110px"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Select one or more categories :</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{categories}" multiple required style="resize: vertical; height: 200px">
                        <th:block th:each="category : ${listCategories}">
                            <option th:value="${category.id}">[[${category.name}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3"/>
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
            </div>
        </div>
    </form>

    <!-- Dialog Box -->
    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn btn-warning" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">
    moduleURL = "[[@{/brands}]]";

    function showImageThumbnail(fileInput){
        var file = fileInput.files[0];
        var reader = new FileReader();
        reader.onload = function(e){
            $("#thumbnail").attr("src", e.target.result);
        };

        reader.readAsDataURL(file);
    }

    function showModalDialog(title, message){
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal('show');
    }
</script>

<script type="text/javascript" th:src="@{/js/common_form.js}"></script>

</body>

</html>